<div class="header">
    <div class="header--logo">
        <img src="../../assets/images/quintiq-logo2.jpg" alt="quintiq logo">
    </div>

    <div class="header--content">
        <a class="btn btn__outline btn__white" (click)="restartProgress()">
            <i class="fa fa-undo" aria-hidden="true"></i>
        </a>
        <a class="btn btn__outline btn__white" (click)="autoSchedule()">
            <i class="fa fa-magic" aria-hidden="true"></i>
        </a>
        <a class="btn btn__outline btn__white">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </a>
    </div>
</div>