
<div class="side-menu">

  <div class="side-menu--item side-menu--item__selected">
      <a class="btn btn__outline">
          <i class="fa fa-calendar" aria-hidden="true"></i>
      </a>
      <p>Schedule</p>
  </div>

  <div class="side-menu--item side-menu--item__unselected">
      <a class="btn btn__outline">
          <i class="fa fa-users" aria-hidden="true"></i>
      </a>
      <p>Manage</p>
  </div>

  <div class="side-menu--item side-menu--item__unselected side-menu__item_last">
      <a class="btn btn__outline">
          <i class="fa fa-cogs" aria-hidden="true"></i>
      </a>
      <p>Settings</p>
  </div>

</div>