/***
* Responsive Padding Classes
*/

.padding-bottom-initial{padding-bottom:initial !important;}
.padding-bottom-0{padding-bottom:0!important;}
.padding-bottom-xxs{padding-bottom: 0.5vh!important;}
.padding-bottom-xs{padding-bottom: 1vh!important;}
.padding-bottom-s{padding-bottom: 2vh!important;}
.padding-bottom-m{padding-bottom: 3vh!important;}
.padding-bottom-l{padding-bottom: 4vh!important;}
.padding-bottom-xl{padding-bottom: 5vh!important;}
.padding-bottom-xxl{padding-bottom: 6vh!important;}
.padding-bottom-3xl{padding-bottom: 7vh!important;}
.padding-bottom-4xl{padding-bottom: 8vh!important;}

.padding-top-initial{padding-top:initial!important;}
.padding-top-0{padding-top:0!important;}
.padding-top-xxs{padding-top: 0.5vh!important;}
.padding-top-xs{padding-top: 1vh!important;}
.padding-top-s{padding-top: 2vh!important;}
.padding-top-m{padding-top: 3vh!important;}
.padding-top-l{padding-top: 4vh!important;}
.padding-top-xl{padding-top: 5vh!important;}
.padding-top-xxl{padding-top: 6vh!important;}
.padding-top-3xl{padding-top: 7vh!important;}
.padding-top-4xl{padding-top: 8vh!important;}
