/***
* Responsive Margin Classes
*/

.margin-bottom-initial{margin-bottom:initial!important;}
.margin-bottom-0{margin-bottom:0!important;}
.margin-bottom-xxs{margin-bottom: 0.5vh!important;}
.margin-bottom-xs{margin-bottom: 1vh!important;}
.margin-bottom-s{margin-bottom: 2vh!important;}
.margin-bottom-m{margin-bottom: 3vh!important;}
.margin-bottom-l{margin-bottom: 4vh!important;}
.margin-bottom-xl{margin-bottom: 5vh!important;}
.margin-bottom-xxl{margin-bottom: 6vh!important;}
.margin-bottom-3xl{margin-bottom: 7vh!important;}
.margin-bottom-4xl{margin-bottom: 8vh!important;}

.margin-top-initial{margin-top:initial!important;}
.margin-top-0{margin-top:0!important;}
.margin-top-xxs{margin-top: 0.5vh!important;}
.margin-top-xs{margin-top: 1vh!important;}
.margin-top-s{margin-top: 2vh!important;}
.margin-top-m{margin-top: 3vh!important;}
.margin-top-l{margin-top: 4vh!important;}
.margin-top-xl{margin-top: 5vh!important;}
.margin-top-xxl{margin-top: 6vh!important;}
.margin-top-3xl{margin-top: 7vh!important;}
.margin-top-4xl{margin-top: 8vh!important;}
